<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead class=" text-primary">
        <th>
          Nome da conta
        </th>
        <th>
          Tipo de conta
        </th>
        <th>
          Valor
        </th>
        <th>
          Acttions
        </th>
      </thead>
      <tbody>
        <!-- o ngFor vai interar no array accountsFilho -->
        <tr *ngFor="let obj of accountsFilho">
          <td>
            {{obj.name}}
          </td>
          <td>
            {{obj.type}}
          </td>
          <td>
            {{obj.value}}
          </td>
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Ações</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem>Editar</button>
              <button ngbDropdownItem>Excluir</button>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>